<section>
	<div id="contenido">
		<form role="form" action="/post/update/<%= post.id %>" method="POST" class="form-left" id="sign-up-form">
		<div class="col-md-6">
			<h2 class="form-signin-heading"><%= __('NewPostf') %></h2>
			<div class="form-group">
				<label for="title"><%= __('Titlef') %></label>
				<input type="text" class="form-control" placeholder="<%= __('Titlef') %>" name="title" id="title" required value="<%= post.title %>" />
			</div>
			<div class="form-group">
				<label for="summary"><%= __('Summaryf') %></label>
				<input type="text" class="form-control" placeholder="<%= __('Summaryf') %>" name="summary" id="summary" value="<%= post.summary %>" />
			</div>
			<div class="form-group">
				<label for="text"><%= __('Textf') %></label>
				<textarea class="form-control" placeholder="<%= __('Textf') %>" name="text" id="text" required minlength="6"><%= post.text %></textarea>
			</div>
			<div class="form-group">
				<label for="populars"><%= __('Tags') %></label>
				<input type="text" class="form-control" placeholder="<%= __('Tags') %>" name="populars" id="populars" value="<%= post.populars %>" />
			</div>
			<div class="form-group">
				<label for="city"><%= __('Cityf') %></label>
				<input type="text" class="form-control" placeholder="<%= __('Cityf') %>" name="city" id="city" value="<%= post.city %>"/>
			</div>
			<div class="form-group">
				<label for="country"><%= __('Countryf') %></label>
				<input type="text" class="form-control"name="country" id="country" placeholder="<%= __('Countryf') %>" value="<%= post.country %>" />
			</div>
			<div class="form-group">
				<label for="tags"><%= __('Location') %></label>
				<input type="text" class="form-control" placeholder="<%= __('Location') %>" name="location" id="location" value="<%= post.latitude %>,<%= post.longitude %>" disabled />
			</div>
		</div>

		<div class="col-md-6" style="backgroung-color:#CCC; opacity:.5;" id="premium">
			<h2 class="form-signin-heading"><%= __('Premiumf') %></h2>
			<div><%= __('Explication') %></div>
			<div class="checkbox">
				<label><%= __('Chat') %> (Add USD $1)</label>
				<input type="checkbox" name="chat" id="chat" value="1" disabled/>
			</div>
			<div class="checkbox">
				<label><%= __('ShowMe') %> (Add USD $1)</label>
				<input type="checkbox" name="map" id="map" value="1" disabled/>
			</div>
			<div class="form-group">
				<label for="photos"><%= __('Pictures') %> (Add USD $1/picture)</label>
				<input type="file" name="photos1" id="photos1" disabled/>
				<input type="file" name="photos2" id="photos2" disabled/>
				<input type="file" name="photos3" id="photos3" disabled/>
				<input type="file" name="photos4" id="photos4" disabled/>
				<input type="file" name="photos5" id="photos5" disabled/>
				<p class="help-block">
					<a href="#"><%= __('MorePic') %>?</a>
				</p>
			</div>
			<div class="form-group" id="paid">
				<p class="help-block">
					<div><%= __('Total') %>: $0</div>
				</p>
			</div>
			<div class="form-group" id="paid">
				<p class="help-block">
					<div><%= __('BetaTester') %></div>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<input type="hidden" name="patron_id" id="patron_id" value="<%= loggedUser.id %>"/>
			<input type="hidden" name="publisher" id="publisher" value="<%= loggedUser.username %>"/>
			<input type="hidden" name="contactMail" id="contactMail" value="<%= loggedUser.email %>"/>
			<input type="hidden" name="longitude" id="longitude" value="<%= post.longitude %>"/>
			<input type="hidden" name="latitude" id="latitude" value="<%= post.latitude %>"/>
			<input type="hidden" name="dip" id="dip" value="<%= req.ip %>"/>

			<input type="submit" class="btn btn-primary btn-block" value="<%= __('SendButton') %>" />
		</div>
		</form>
	</div>
</section>
