<section>
	<div id="contenido">
		<form role="form" action="/post/update/<%= post.id %>" method="POST" class="form-left" id="postform">
		<div class="col-md-6">
			<h2 class="form-signin-heading"><%= __('New post') %></h2>
			<div class="form-group">
				<label for="title"><%= __('Title of your product or service') %></label>
				<input type="text" class="form-control" name="title" id="title" required value="<%= post.title %>" />
			</div>
			<div class="form-group">
				<label for="summary"><%= __('Brief description') %></label>
				<input type="text" class="form-control" name="summary" id="summary" value="<%= post.summary %>" />
			</div>
			<div class="form-group">
				<label for="text"><%= __('Large description (You can include your address, telephones, email)') %></label>
				<textarea class="form-control" name="text" id="text" required minlength="6"><%= post.text %></textarea>
			</div>
			<div class="form-group">
				<label for="populars"><%= __('Tags') %></label>
				<input type="text" class="form-control" name="populars" id="populars" value="<%= post.populars %>" />
			</div>
			<div class="form-group">
				<label for="city"><%= __('City') %></label>
				<input type="text" class="form-control" name="city" id="city" value="<%= post.city %>"/>
			</div>
			<div class="form-group">
				<label for="country"><%= __('Country') %></label>
				<input type="text" class="form-control"name="country" id="country" value="<%= post.country %>" />
			</div>
			<div class="form-group">
				<label for="tags"><%= __('Location') %></label>
				<input type="text" class="form-control" name="location" id="location" value="<%= post.location %>" />
			</div>
		</div>

		<div class="col-md-6" style="backgroung-color:#CCC; opacity:.5;" id="premium">
			<h2 class="form-signin-heading"><%= __('Premium features') %></h2>
			<div><%= __('Some features require a small pay') %></div>
			<div class="checkbox">
				<label><%= __('Chat') %> (Add USD $1)</label>
				<input type="checkbox" name="chat" id="chat" value="1" disabled/>
			</div>
			<div class="checkbox">
				<label><%= __('Show me on Map') %> (Add USD $1)</label>
				<input type="checkbox" name="map" id="map" value="1" disabled checked/>
			</div>
			<div class="form-group">
				<label for="photos"><%= __('Pictures') %> (Paid)</label>
				<input type="file" name="photos1" id="photos1" disabled/>
				<input type="file" name="photos2" id="photos2" disabled/>
				<input type="file" name="photos3" id="photos3" disabled/>
				<input type="file" name="photos4" id="photos4" disabled/>
				<input type="file" name="photos5" id="photos5" disabled/>
				<p class="help-block">
					<a href="#"><%= __('Need more pictures?') %>?</a>
				</p>
			</div>
			<div class="form-group" id="paid">
				<p class="help-block">
					<div><%= __('Total') %>: $0</div>
				</p>
			</div>
			<div class="form-group" id="paid">
				<p class="help-block">
					<div><%= __('Some features are in beta') %></div>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<input type="hidden" name="patron_id" id="patron_id" value="<%= loggedUser.id %>"/>
			<input type="hidden" name="publisher" id="publisher" value="<%= loggedUser.username %>"/>
			<input type="hidden" name="contactMail" id="contactMail" value="<%= loggedUser.email %>"/>
			<input type="hidden" name="dip" id="dip" value="<%= req.ip %>"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>">
			<input type="submit" class="btn btn-primary btn-block" value="<%= __('Update post') %>" />
			<p>&nbsp;</p>
		</div>
		</form>
	</div>
</section>
