<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/linker/styles/normalize.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/linker/styles/estilos.css">
    <link rel="stylesheet" href="/linker/styles/style.css">
</head>
<body>

<section class="js-masonry">
	<div id="relacionado">
<%
if ( typeof posts === 'undefined' ) {
// There are only one user.
%>

<div id="container">
	<ul>
	    <% _.each(post, function(post){ %>
	    <li class="box">
	    	<% if ( post.photos === 'undefined' ) { %>
	    	<a href="/post/<%= post.id %>">
	    		<img src="<%=post.photos %>" alt="<%= post.title %>">
	    	<% } %>
	    	</a>
	    	<h4><a href="/post/<%= post.id %>"><%= post.title %></a></h4>
	      	<p><%= post.summary %></p>
          <p>
              <i class="glyphicon glyphicon-heart"></i>   <span> 5 </span>
              <i class="glyphicon glyphicon-search"></i>  <span> 7 </span>
              <i class="glyphicon glyphicon-star"></i>    <span> 2 </span>
              <i class="glyphicon glyphicon-flag"></i>    <span> 20 </span>
          </p>

          <p>
              <i class="icon-tags"></i> Tags: 
<% var str = post.title; var arr = str.split(' '); for(var i=0;i<arr.length;i++) { %>
<a class="tagsbypost" href="post/tags/<%= arr[i] %>"><%= arr[i] %></a><% } %>
          </p>
	    </li>
	    <% }); %>
	</ul>

</div>

<% } %>
	</div>
</section>

    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/ga.js"></script>
    <script src="/linker/js/init.js"></script>
    <script src="/linker/js/masonry.pkgd.min.js"></script>

</body>
</html>