<!--
{
  "welcome" : " Hey hacker! ",
  "message": " Good news! If you can read this is because you know what I want to talk about.. We're looking to talent people who wants to do something different and stop losing time when people looking for a product or service!. Drop us a line! ",
  "contact": [{
    "email" : "dnaranjo [@] gmail [.] com",
    "subject " : [
      {
      "subject" : "I'm a have kind of talent for findby",
      "required":true
      }],
    "body " : "Experience, skills, your current location (and salary) and all you want to say. Please, DO NOT attach any file! Do you want to attach something? Please, use Github profile and/or linkedin.."
  }],
  "cheers" : true,
  "postby" : "Daniel",
  "note" : "Thanks for watching this!"
}
-->
<!doctype html>
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FindBY - A Geolocation Classified Ads for products and services around the world</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="A Geolocation Classified Ads for products and services around the world">
    <meta http-equiv="Cache-Control" content="max-age=604800">
    <meta name="author" content="Daniel Naranjo">
    <link rel="icon" href="/favicon.ico">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->
    <!-- CDN -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- CDN -->
    
  </head>

  <body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->    
    <div id="wrap">
      <div class="navbar-fixed-top">
        <header>
          <div id="logo">
            <a href="/">
              <img src="/img/logo.png" alt="logo" width="166" height="73">
            </a>
          </div>
          <a href="javascript:showMenu();" id="busqueda">
            <div><i class="icon-search"></i></div>
          </a>
          <a href="javascript:showLocation();" id="ubicacion">
            <div><i class="icon-location"></i></div>
          </a>
          <a href="javascript:menu();" id="elmenu">
            <div><i class="icon-profile"></i></div>
          </a>
          <a href="#" id="dondeestoy">
            <div></div>
          </a>
          <a href="<% if( loggedUser ) { %>/user/<%= loggedUser.id %><% } else { %>javascript:login();<% }%>">
            <div id="quiensoy">
              <i class="icon-user"></i> <% if( loggedUser ) { %><%= loggedUser.username %><% } else { %><%= __('Place your ad for free') %><% }%>
            </div>
          </a>
        </header>
        <div id="buscador" class="row">
          <div id="lacaja" class="col-md-6">
            <form action="/post/search/">
              <div>
                <input type="type" id="term" name="term" placeholder="<%= __('Start your search here') %>" class="form-control" />
              </div>
              <div>  
                <input type="submit" value="Go" class="btn btn-default">
              </div>     
            </form>
          </div>
          <div id="popular" class="col-md-6">
            <ul>
              <li class="tag4'"><a href="#">Loading populars tags</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- content -->
      <%- body %>
      <!-- content -->      

      <footer id="footer" class="smooth-style slideOut-option navbar-fixed-bottom">
        <div class="container">
          <div>2013-2014 &copy  <a href="http://www.danielnaranjo.info">Daniel Naranjo</a></div>
          <div>Follow us in <a href="http://facebook.com/findby" target="_blank">Facebook</a> or <a href="http://twitter.com/findbytags" target="_blank">Twitter</a>  |  <a href="/about/contact"><%= __('Contact')%></a> - <a href="/about/privacy"><%= __('Privacy')%></a> - <a href="/about/legal"><%= __('Legal')%></a>
          </div>
        </div>
      </footer>
    </div>

    <div id="opciones">
      <ul>
        <% if( loggedUser ) { %><li><a href="/user/<%= loggedUser.id %>"><%= __('My Profile') %></a></li><% } else { %>
        <li><a href="/user/new"><%= __('Sign Up') %></a></li>
        <li><a href="/user/auth"><%= __('Log In') %></a></li>
      <% } %>        
        <% if( loggedUser ) { %><li><a href="/post/new"><%= __('Create a new post') %></a></li><% } else { %><li><a href="/post"><%= __('All Posts') %></a></li><% } %>
        <li><a href="/map"><%= __('Explorer')%></a></li>
        <li><a href="/about"><%= __('About')%></a></li>
        <li><a href="http://findby.uservoice.com" target="_blank"><%= __('Faq')%></a></li>
        <li><a href="/about/privacy"><%= __('Privacy')%></a></li>
        <li><a href="/about/contact"><%= __('Contact')%></a></li>
        <% if( loggedUser ) { %>
        <li>&nbsp;</li>
        <li><a href="/user/logout"><%= __('Sign Out')%></a></li><% } %>
      </ul>
    </div>

    <div id="nogeo"></div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!-- CDN -->
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js"></script>
    <!-- CDN -->

    <!--SCRIPTS-->
    <script src="/min/production.js"></script>
    <!--SCRIPTS END-->

    <script>
      socket.on("connect", function(){ console.log("Client Connected"); });
    </script>
   
  </body>
</html>
