<!doctype html>
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FindBY - <%= __('A Geolocation Classified Ads for products and services around the world')%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="A Geolocation Classified Ads for products and services around the world">
    <meta http-equiv="Cache-Control" content="max-age=604800">
    <meta name="author" content="Daniel Naranjo">
    <link rel="icon" href="/favicon.ico">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->
    
    <!-- CDN -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- CDN -->

    <!-- sumo -->
    <script src="//load.sumome.com/" data-sumo-site-id="f8e1f1e4c5ebcd65706f96e09a3e55bdc2d7cfa19f78e966eacb8ff570615f26" async></script>
    <!-- sumo -->

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("a63935ea8ee5021f081fcae7164c37a0");
    </script>
    <!-- end Mixpanel -->
  </head>

  <body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->    
    <div id="wrap">
      <div class="navbar-fixed-top">
        <header>
          <div id="logo">
            <a href="/">
              <img src="/img/logo.png" alt="logo" width="166" height="73">
            </a>
          </div>
          <div>
            <a href="#" id="dondeestoy">
              <div></div>
            </a>
          </div>
          <nav>
            <ul>
              <li>
                <a href="/">
                  <div><i class="glyphicon glyphicon-home"></i></div>
                </a>
              </li>
              <li>
                <a href="<% if( loggedUser ) { %>/user/<%= loggedUser.id %><% } else { %>javascript:login();<% }%>">
                  <div id="quiensoy">
                    <i class="icon-user"></i><span class="hidemobile showhover"> <% if( loggedUser ) { %><%= loggedUser.username %><% } else { %><%= __('Place your ad for free') %><% }%></span>
                  </div>
                </a>
              </li>
              <li id="ocultar">
                <a href="/map" id="ubicacion">
                  <div><i class="glyphicon glyphicon-globe"></i></div>
                </a>
              </li>
              <li class="hidemobile">
                  <a href="javascript:showMenu();" id="busqueda">
                    <div><i class="icon-search"></i></div>
                  </a>
              </li>
              <li>
                <a href="javascript:menu();" id="elmenu">
                  <div><i class="icon-profile"></i></div>
                </a>
              </li>
            </ul>
          </nav>
          
        </header>
        <div id="buscador" class="row">
          <div id="lacaja" class="col-xs-12 col-sm-6">
            <form action="/post/search/">
              <div id="searchbox">
                <input type="type" id="term" name="term" placeholder="<%= __('Start your search here') %>" class="form-control" />
              </div>
              <div>  
                <input type="submit" value="Go" class="btn btn-default">
              </div> 
              <!--latest-->
              <div id="latest">
                <div>
                  Loading latest posts..
                </div>
              </div>
              <!--latest-->
            </form>
          </div>
          <div id="popular" class="col-md-6">
            <ul>
              <li class="tag4'"><a href="#">Loading populars tags</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- content -->
      <%- body %>
      <!-- content -->      

    <div id="opciones">
      <ul>
        <% if( loggedUser ) { %><li><a href="/user/<%= loggedUser.id %>"><%= __('My Profile') %></a></li><% } else { %>
        <li><a href="javascript:newOne();"><%= __('Sign Up') %></a></li>
        <li><a href="javascript:login();"><%= __('Log In') %></a></li>
      <% } %>        
        <% if( loggedUser ) { %><li><a href="/post/new"><%= __('Create a new post') %></a></li><% } else { %><li><a href="/post"><%= __('All Posts') %></a></li><% } %>
        <li><a href="/map"><%= __('Explorer')%></a></li>
        <li><a href="/about"><%= __('About')%></a></li>
        <li><a href="http://findby.uservoice.com" target="_blank"><%= __('Faq')%></a></li>
        <li><a href="/about/privacy"><%= __('Privacy')%></a></li>
        <li><a href="/about/contact"><%= __('Contact')%></a></li>
        <% if( loggedUser ) { %>
        <li>&nbsp;</li>
        <li><a href="/user/logout"><%= __('Sign Out')%></a></li><% } %>
      </ul>
    </div>

    <div id="nogeo"></div>

      <footer>
        <div class="row">
          <div class="col-xs-5 col-sm-3">
            <h4><%= __('Faq')%></h4>
            <ul>
              <li><a href="#"><%= __('I\'ve forgotten my password')%></a></li>
              <li><a href="#"><%= __('How do I report an ad or user?')%></a></li>
              <li><a href="#"><%= __('Service ad fees')%></a></li>
              <li><a href="#"><%= __('Sellers fees explained')%></a></li>
              <li><a href="#"><%= __('Using Geolocation')%></a></li>
            </ul>          
          </div>
          <div class="col-xs-5 col-sm-3">
            <h4><%= __('How\'s TO')%></h4>
            <ul>
              <li><a href="javascript:newOne();"><%= __('Register') %></a></li>
              <li><a href="#"><%= __('Find a product / service')%></a></li>
              <li><a href="#"><%= __('Report an ad or user')%></a></li>
              <li><a href="#"><%= __('Sending private messages')%></a></li>
              <li><a href="#"><%= __('Removing / deactivating your ad')%></a></li>
            </ul>          
          </div>
          <div class="col-xs-5 col-sm-3">
            <h4><%= __('About')%></h4>
            <ul>
              <li><a href="/about"><%= __('About')%></a></li>
              <li><a href="http://www.angel.co/findby" target="_blank"><%= __('Team')%></a></li>
              <li><a href="/about/contact"><%= __('Contact')%></a></li>
              <li><a href="http://www.github.com/findby" target="_blank"><%= __('Developers')%></a></li>
              <li><a href="http://www.loultimoenlaweb.com" target="_blank"><%= __('Credits')%></a></li>
            </ul>
          </div>
          <div class="col-xs-5 col-sm-3">
            <h4><%= __('Social')%></h4>
            <ul>
              <li><a href="http://facebook.com/findby" target="_blank">Facebook</a></li>       
              <li><a href="http://linkedin.com/company/findby" target="_blank">Linkedin</a></li>
              <li><a href="https://plus.google.com/115826745735747307118" rel="publisher" target="_blank">Google+</a></li>
              <li><a href="http://twitter.com/findbyco" target="_blank">Twitter</a></li>
              <li><a href="http://findby.tumblr.com/" target="_blank">Blog</a></li>
            </ul>          
          </div>
        </div>
      </footer>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!-- CDN -->
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js"></script>
    <!-- CDN -->

    <!--SCRIPTS-->
    <script src="/min/production.js"></script>
    <!--SCRIPTS END-->

    <script>
      socket.on("connect", function(){ console.log("Client Connected"); });
      latest(getCookie('pais'));
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0019/6687.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
   
  </body>
</html>
