<section>
	<div id="contenido" class="container">
		<div class="col-md-6">
			<div id="why-findby">
				<ul>
					<li>
						<h4><i class="glyphicon glyphicon-ok"></i><%= __('Place your ads (Product, services, things)') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-time"></i><%= __('It\'s fast and easy') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-tags"></i><%= __('No categories, just Tags') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-map-marker"></i><%= __('All ads nearby you') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-camera"></i><%= __('Upload unlimited photos') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-eye-open"></i><%= __('Real people, real transaction') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-usd"></i><%= __('No fee, Only premium features') %></h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
		<form role="form" action="/user/login" method="POST" class="form-center" id="loginfrom">
			<h2 class="form-signin-heading"><%= __('Sign In') %></h2>
			<div class="form-group">
				<label for="username"><%= __('Username') %></label>
				<input type="text" class="form-control" placeholder="<%= __('someone@somewhere.com') %>" name="username" id="username" required />
			</div>
			<div class="form-group">
				<label for="password"><%= __('Password') %></label>
				<input type="password" class="form-control" placeholder="<%= __('Password') %>" name="password" id="password" required minlength="6" />
			</div>
			<p><input type="submit" class="btn btn-primary btn-block" value="<%= __('Sign In') %>" /></p>
		</form>
		<% if ( sails.config.providers ) { %>
		<div class="form-center">
			<p class="text-center"><%= __('or Sign in with...') %><p>
			<div class="row">
				<% _.each(sails.config.providers, function(provider, provider_id){ %>
			
				<form role="form" action="/user/login/<%= provider_id %>" method="POST" class="form-center">
					<p>
						<button type="submit" class="btn btn-social btn-<%= provider_id %> btn-block">
							<i class="fa fa-<%= __(provider_id) %>"></i> <%= __('Sign in with') %> <%= __(provider_id) %>
						</button>
					</p>
				</form>

				<% }) %>
			</div>
		</div>
		<% } %>
		<p class="text-center">
			<%= __('or Create a') %> <a href="javascript:newOne();"><%= __('new account') %></a>
		</p>
		</div>
		</div>
	</div>
	</div>
</section>