<section>
	<div id="contenido" class="container">

<%
if ( typeof users === 'undefined' ) {
// There are only one user.
%>

<div class="row">
	<div class="col-md-12">
		<h2>
			<%= __('Hello') %> <%= user.username %>
		</h2> 
		<a href="/user/logout">
			<i class="glyphicon glyphicon-log-out"></i> 
			<%= __('Sign Out')%>
		</a>
		
		<% if ( session.canAdminUser ) { %>
		<p>
			<%= __('Registered with') %> <%= user.email %> 
			<a href="/user/edit/<%= user.id %>"><i class="glyphicon glyphicon-pencil"></i> <%= __('Edit') %></a>
		</p>
		<% } %>
	</div>
</div>


	<% if ( session.canAdminUser ) {
	// There logged user and showed user is the same.
	%>

<div class="row" style="margin-top:30px">
	<div class="col-md-6">
		<div>
			<h3><%= __('Show all posts or create a') %> <a href="/post/new"><%= __('New one') %></a></h3>
		</div>
		<div id="showList"></div>		
	</div>
	<div class="col-md-6">
		<% if ( sails.config.providers ) { %>
		<div>
			<h3><%= __('Profiles') %></h3>
			<p><%= __('Easy sign in with your social networks. For security you can link/unlink whenever you want.') %></p>
		</div>
			
		<div>
		<% _.each(sails.config.providers, function(provider, provider_id){ %>
			<div class="row">
				<% if( _.find(
					user.profiles,
					function(profile) {
						return profile.provider == provider_id;
					}
				) ) { %>
				
				<form action="/user/logout/<%= provider_id %>" method="POST" class="col-xs-6">
					<p>
						<button type="submit" class="btn btn-social btn-<%= provider_id %> btn-block">
							<i class="fa fa-<%= __(provider_id) %>"></i> <%= __('Unlink with') %> <%= __(provider_id) %>
						</button>
					</p>
				</form>

				<% } else { %>
				
				<form action="/user/login/<%= provider_id %>" method="POST" class="col-xs-6">
					<p>
						<button type="submit" class="btn btn-social btn-<%= provider_id %> btn-block">
							<i class="fa fa-<%= __(provider_id) %>"></i> <%= __('Link with') %> <%= __(provider_id) %>
						</button>
					</p>
				</form>

				<% } %>
	
			</div>
		<% }); %>
		</div>
		<% } %>

		<div style="margin-top:100px">
			<form action="/user/destroy/<%= user.id %>" method="POST">
				<h3><%= __('Delete your account') %></h3>
				<p><%= __('You can undo this action. Press the button if you are completely sure.') %></p>
				<input type="hidden" name="_method" value="delete"/>
				<p>
					<button type="submit" class="btn btn-social btn-danger" OnClick="confirmDelete();">
						<i class="glyphicon glyphicon-remove"></i> <%= __('Delete') %>
					</button>
				</p>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(e){
		relacionados();
	});
</script>
	
		<% } %>
	<%
	} else {
	// There are multiple one user.
	%> 


		<h2>Users</h2>
		<div>
		<% _.each(users, function(user){ %>
			<p><a href="/user/<%= user.id %>"><%= user.username %></a></p>
		<% }); %>
		</div>


<% } %>
</div>
</section>

