<section>
	<div id="contenido" class="container">

<%
if ( typeof users === 'undefined' ) {
// There are only one user.
%>
<div class="row">
	<div class="col-md-6">
		<h2>
			<%= __('Hello') %> <%= user.name %>
		</h2> 
		<a href="/user/logout"><i class="glyphicon glyphicon-log-out"></i> <%= __('Sign Out')%></a>
		<% if ( session.canAdminUser ) { %>
		<p>
			<%= __('Registered with') %> <%= user.email %> 
			<a href="javascript:editUser('<%= user.id %>');"><i class="glyphicon glyphicon-pencil"></i></a>
		</p>
		<% } %>
	</div>
</div>

<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#profile" data-toggle="tab"><%= __('My Profile') %></a></li>
	<% if ( user.admin ) { %>
	<li><a href="#administrator" data-toggle="tab">Tasks</a></li>
	<li><a href="#report" data-toggle="tab">Reports</a></li>
	<% } %>
	<li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="profile">
  	<% if ( session.canAdminUser ) {
	// There logged user and showed user is the same.
	%>

<div class="row" style="margin-top:30px">
	<div class="col-md-6">
		<h3><%= __('Show all posts or create a') %> <a href="/post/new"><%= __('New one') %></a>
		</h3>
		<div id="showList">
			<br/><img src="/img/load3.gif" alt="" />
		</div>		
	</div>
	<div class="col-md-6 text-right">
		<h3>&nbsp;</h3>
		<div id="anuncio">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- findbyco-250x250-230913 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:250px;height:250px"
			     data-ad-client="ca-pub-3074485176185204"
			     data-ad-slot="5370019667"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
</div>
<% } %>

<%
} else {
// There are multiple one user.
%> 
Error: Esta operacion no esta permitida.
<% } %>
 <!-- main -->
	</div>
	<% if ( user.admin ) { %>
	<div class="tab-pane" id="administrator">
		<div class="row" style="margin-top:30px"></div>
			<div class="col-md-3 lineSeparator" id="avisos">
			    <br/><img src="/img/load3.gif" alt="" />
			</div>
			<div class="col-md-3 lineSeparator" id="usuarios">
			    <br/><img src="/img/load3.gif" alt="" />
			</div>
			<div class="col-md-3 lineSeparator" id="populares">
				<h3>Populars tags <i class="glyphicon glyphicon-refresh" onclick="javascript:populares();"></i></h3>
			    <ul>
			    	<li class="tag4'"><br/><img src="/img/load3.gif" alt="" /></li>
			    </ul>
			</div>
			<div class="col-md-3" id="paises">
			    <h3>Countries <i class="glyphicon glyphicon-refresh" onclick="javascript:paises();"></i></h3>
			    <ul>
			    	<li class="tag4'"><br/><img src="/img/load3.gif" alt="" /></li>
			    </ul>
			</div>
	</div>
	<div class="tab-pane" id="report">
		<div class="row" style="margin-top:30px">
			<div class="col-md-6">
				<h3>Loading stats</h3>
				<div id="gUser"></div>
			</div>
		</div>
	</div>
	<% } %>
	<div class="tab-pane" id="settings">
		<div class="row" style="margin-top:30px">
			<!-- settings -->
			<div class="col-md-6">
				<% if ( sails.config.providers ) { %>
				<div>
					<h3><%= __('Profiles') %></h3>
					<p><%= __('Easy sign in with your social networks. For security you can link/unlink whenever you want.') %></p>
				</div>
					
				<div>
				<% _.each(sails.config.providers, function(provider, provider_id){ %>
					<div class="row">
						<% if( _.find(
							user.profiles,
							function(profile) {
								return profile.provider == provider_id;
							}
						) ) { %>
						<form action="/user/logout/<%= provider_id %>" method="POST" class="col-xs-6">
							<p>
								<button type="submit" class="btn btn-social btn-<%= provider_id %> btn-block">
									<i class="fa fa-<%= __(provider_id) %>"></i> <%= __('Unlink with') %> <%= __(provider_id) %>
								</button>
							</p>
						</form>
						<% } else { %>					
						<form action="/user/login/<%= provider_id %>" method="POST" class="col-xs-6">
							<p>
								<button type="submit" class="btn btn-social btn-<%= provider_id %> btn-block">
									<i class="fa fa-<%= __(provider_id) %>"></i> <%= __('Link with') %> <%= __(provider_id) %>
								</button>
							</p>
						</form>
						<% } %>			
					</div>
				<% }); %>
				</div>
				<% } %>
			</div>
			<div class="col-md-6">
				<form action="/user/destroy/<%= user.id %>" method="POST">
					<h3><%= __('Delete your account') %></h3>
					<p><%= __('You can undo this action. Press the button if you are completely sure.') %></p>
					<input type="hidden" name="_method" value="delete"/>
					<p>
						<button type="submit" class="btn btn-social btn-danger" OnClick="confirmDelete();">
							<i class="glyphicon glyphicon-remove"></i> <%= __('Delete') %>
						</button>
					</p>
				</form>
			</div>
			<!-- settings -->
		</div>
	</div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script>
  $(function () {
//
    $('#myTab a:first').tab('show');
    setTimeout(function() {
    	relacionados('<%= user.username %>');<% if ( user.admin ) { %>
	    usuarios();
	    avisos();
	    totalPosts();
	    totalUsers();
	    populares();
	    paises();
		$("#gUser").sparkline([5,6,7,9,9,5,3,2,2,4,6,7], {
		    type: 'line',
		    width: '250',
		    height: '200',
		    lineWidth: 2,
		    drawNormalOnTop: true
		});
		$("#gPost").sparkline([5,6,7,2,0,-4,-2,4], { 
			type: 'bar'
		});
        //$("[data-toggle='tooltip']").tooltip('toggle');
		<% } %>
	}, 3000);
//
  
  });
  // Force "<title>" to change for post's title
  $('title').text('<%= user.name %>');
</script>

<!-- admin -->
	
</div>
</section>

