<section>
	<div id="contenido" class="container">
		<div class="col-md-6">
			<div id="why-findby">
				<ul>
					<li>
						<h4><i class="glyphicon glyphicon-ok"></i><%= __('Place your ads (Product, services, things)') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-time"></i><%= __('It\'s fast and easy') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-tags"></i><%= __('No categories, just Tags') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-map-marker"></i><%= __('All ads nearby you') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-camera"></i><%= __('Upload unlimited photos') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-eye-open"></i><%= __('Real people, real transaction') %></h4>
					</li>
					<li>
						<h4><i class="glyphicon glyphicon-usd"></i><%= __('No fee, Only premium features') %></h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<form role="form" action="/user/create" method="POST" class="form-center" id="signupform">
				<input type="hidden" name="country" id="country">
				<input type="hidden" name="dip" id="dip" value="<%= req.ip %>"/>
				<h2 class="form-signin-heading"><%= __('Create user') %></h2>
				<div class="form-group">
					<label for="name"><%= __('Name') %></label>
					<input type="text" class="form-control" placeholder="<%= __('Name') %>" name="name" id="name" <% if( session.tempUser && session.tempUser.name ) { %> value="<%= session.tempUser.name %>"<% } %> required minlength="5" maxlenght="20" />
				</div>
				<div class="form-group">
					<label for="username"><%= __('Username') %></label>
					<input type="text" class="form-control" placeholder="<%= __('Username') %>" name="username" id="username" <% if( session.tempUser && session.tempUser.username ) { %> value="<%= session.tempUser.username %>"<% } %> required minlength="5" maxlenght="20" />
				</div>
				<div class="form-group">
					<label for="email"><%= __('E-mail') %></label>
					<input type="email" class="form-control" placeholder="<%= __('someone@somewhere.com') %>" name="email" id="email" <% if( session.tempUser && session.tempUser.email) { %> value="<%= session.tempUser.email %>"<% } %> required />
				</div>
				<div class="form-group">
					<label for="password"><%= __('Password') %></label>
					<input type="password" class="form-control" placeholder="<%= __('Password') %>" name="password" id="password" minlength="5" maxlenght="20" required/>
				</div>
				<p>
					<input type="submit" class="btn btn-primary btn-block" value="<%= __('Create user') %>" />
				</p>
			</form>
			<div class="form-center">
				<p class="text-center">
					<%= __('Already registered?') %> <a href="javascript:login();"><%= __('Sign In') %></a>
				</p>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function(e) {
	// geolocalization
	WhereIP();
});
</script>